h1{
    color: rgb(66, 65, 65);
    font-size: 40px;
}
   
.con{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}
.inner-container{
    /* border: 1px solid black; */
    height: 500px;
    width: 86%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.child-container{
    /* border: 1px solid black; */
height: 340px;
    width: 360px;
}
.content{
    color: rgb(40, 40, 40);
    
    font-size: 20px;
        padding: 20px;
    }
.para{
    color: grey;
    
        font-size: 15px;
    margin-left: 20px;
    margin-top: -11px;
    }


/* .para1{
    color: grey;
    
    font-size: 15px;
margin-left: 20px;
margin-top: 13px;
} */
.num{
    color: rgb(238, 38, 72);
    padding: 29px;
    margin-left: -9px;
    font-weight: 600;
        font-size: 18px;
    }

*{
    font-family: "Poppins", sans-serif;
}
.inner-containers {
    /* border: 1px solid black; */
    height: 500px;
    width: 86%;
    margin: auto;
    margin-top: -128px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
 .bg{
    background-color: rgb(248, 247, 247);
height: 190px;
    margin-top: -9px;
     
}
.para1:hover{
   color: aquamarine;
}
