h2{
    color: cadetblue;
    text-align: center;
}
.dv{
    border: 2px solid darkcyan;
    height: 650px;
    width: 500px;
}
.box{
    border: 1px solid black;
    height: 150px;
    width: 200px;
}
.box1{
    background-color: cornflowerblue;
    visibility: visible;
}
.box2{
    background-color: crimson;
    visibility: hidden;
}
.box3{
    background-color: darkgray;
    /* display: none; */
}
.box4{
    background-color: darkslategray;
    display: block;
}