/* h2{
    text-align: center;
    
    font-family: "Kanit", sans-serif;
        font-weight: 700;
} */
 img{
    height: 50px;
    
 }
.main-container{
    border: 1px solid rgb(12, 12, 12);

    width: 700px;
    margin: auto;
    padding: 20px;
}
.main{
    font-size: 18px;
}
.but{
    background-color: orangered;
        color: white;
        padding: 12px;
        border: 1px solid orangered;
        border-radius: 3px;
        margin-top: 45px;
    
    }
.butt{
    background-color: orangered;
        color: white;
        padding: 16px;
        border: 1px solid orangered;
        border-radius: 3px;
        margin-top: 2px;
    }
.dot{
    margin-left: 30px;
}
.mainm{
    font-size: 18px;
}
*{
    font-family: "Poppins", sans-serif;
}
.button-container{
    text-align: center;
}
.buttons-container{
     text-align: center;
}
.image-container{
    text-align: center;
}